<div class="row mt-5 mb-5">
    @{
        foreach (var ticket in Model.GetAllTicket)
        {
            <div class="col-lg-4">
            <img class="img-thumbnail" src="@ticket.Img" alt="@ticket.Name" />
            <h2>@ticket.Name</h2>
            <p>@ticket.ShortDesc</p>
            <p>Цена: @ticket.Price.ToString("c")</p>
            <p><a class="btn btn-warning" href="Buy">Купить</a></p>
            </div>
        }
    }
</div>