@model HomeViewModel
<div class="header"><br/><br/><br/>
  <img src="~/img/psstore.png" alt="logo" />
  <h2>PlayStation Store</h2>
</div>
<style>
.header img {
  float: left;
  width: 80px;
  height: 80px;
  background: rgba(0,0,0,0);;
}

.header h2 {
  position: relative;
  top: 18px;
  left: 10px;
}
</style>

<h3>@ViewBag.currCategory</h3>
<div class="row mt-5 mb-5">
    @{
        foreach (Ticket ticket in Model.favCars)
        {
            @Html.Partial("AllGames", ticket)
        }
        //{
        //    <div class="col-lg-4">
        //    <img class="img-thumbnail" src="@ticket.Img" alt="@ticket.Name" />
        //    <h2>@ticket.Name</h2>
        //    <p>@ticket.ShortDesc</p>
        //    <p>Цена: @ticket.Price.ToString("c")</p>
        //    <p><a class="btn btn-warning" href="Buy">Купить</a></p>
        //    </div>
        //}
    }
</div>

